@import "../mixins/mixin";
@import "../colors";
@import "../fonts";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Fraunces:opsz,wght@9..144,100;9..144,200;9..144,300;9..144,400;9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&display=swap");

header {
  @media screen and (max-width: 650px) {
    background-image: url("../../images/mobile/image-header.jpg");
  }

  background-image: url("../../images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $White;

  .navbar {
    @include flex(space-between, row);
    padding: 2rem 1rem;
    font-family: Barlow;
    position: relative;

    .navbar--links {
      .link-logo {
        display: none;

        @media screen and (max-width: 650px) {
          display: flex;
          cursor: pointer;
        }
      }

      .mobile-menu {
        display: none;
        transition: 0.5s;

        @media screen and (max-width: 650px) {
          @include flex(center, column);

          animation: menu 0.5s 1;

          position: absolute;
          padding: 1rem 0;
          left: 5%;
          top: 100%;
          width: 90%;

          background-color: $White;
          color: $Grayish-blue;
          font-weight: 600;
          line-height: 3rem;
          z-index: 1;

          li {
            cursor: pointer;
            padding: 0.1em 1em;
            transition: 0.3s;
            border-radius: 1.5em;
            text-transform: uppercase;
            margin: 0.5rem 0;

            &:hover {
              background-color: rgba(255, 255, 0, 0.583);
              color: rgba(0, 0, 0, 0.605);
            }
          }

          &::after {
            content: " ";
            position: absolute;

            top: -20px;
            right: 0;

            border-color: transparent;
            border-top: 0;
            border-left: 20px solid;
            border-color: transparent;
            border-bottom: 20px solid $White;
            border-right: 0px;
          }
        }
      }

      .desktop-nav {
        @include flex(center, row);

        @media screen and (max-width: 650px) {
          display: none;
        }

        li {
          margin-inline: 0.5em;
          cursor: pointer;
          padding: 0.5em 1em;
          transition: 0.3s;
          border-radius: 1.5em;
          text-transform: uppercase;

          &:hover {
            background-color: rgba(255, 255, 255, 0.192);
          }
        }
      }
    }
  }

  .header--text {
    @include flex(center, column);

    h1 {
      text-transform: uppercase;
      margin: 4rem;
      text-align: center;
      letter-spacing: 0.2em;
      font-size: $heading--900;
      font-weight: 900;
    }

    .arrow {
      img {
        width: 100%;
        margin-bottom: 15rem;

        animation: arrowMove 2s infinite;
      }
    }
  }
}
