@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Fraunces:opsz,wght@9..144,100;9..144,200;9..144,300;9..144,400;9..144,500;9..144,600;9..144,700;9..144,800;9..144,900&display=swap");
header {
  background-image: url("../../images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: hsl(0deg, 0%, 100%);
}
@media screen and (max-width: 650px) {
  header {
    background-image: url("../../images/mobile/image-header.jpg");
  }
}
header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 2rem 1rem;
  font-family: Barlow;
  position: relative;
}
header .navbar .navbar--links .link-logo {
  display: none;
}
@media screen and (max-width: 650px) {
  header .navbar .navbar--links .link-logo {
    display: flex;
    cursor: pointer;
  }
}
header .navbar .navbar--links .mobile-menu {
  display: none;
  transition: 0.5s;
}
@media screen and (max-width: 650px) {
  header .navbar .navbar--links .mobile-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-animation: menu 0.5s 1;
            animation: menu 0.5s 1;
    position: absolute;
    padding: 1rem 0;
    left: 5%;
    top: 100%;
    width: 90%;
    background-color: hsl(0deg, 0%, 100%);
    color: hsl(210deg, 4%, 67%);
    font-weight: 600;
    line-height: 3rem;
    z-index: 1;
  }
  header .navbar .navbar--links .mobile-menu li {
    cursor: pointer;
    padding: 0.1em 1em;
    transition: 0.3s;
    border-radius: 1.5em;
    text-transform: uppercase;
    margin: 0.5rem 0;
  }
  header .navbar .navbar--links .mobile-menu li:hover {
    background-color: rgba(255, 255, 0, 0.583);
    color: rgba(0, 0, 0, 0.605);
  }
  header .navbar .navbar--links .mobile-menu::after {
    content: " ";
    position: absolute;
    top: -20px;
    right: 0;
    border-color: transparent;
    border-top: 0;
    border-left: 20px solid;
    border-color: transparent;
    border-bottom: 20px solid hsl(0deg, 0%, 100%);
    border-right: 0px;
  }
}
header .navbar .navbar--links .desktop-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
@media screen and (max-width: 650px) {
  header .navbar .navbar--links .desktop-nav {
    display: none;
  }
}
header .navbar .navbar--links .desktop-nav li {
  margin-inline: 0.5em;
  cursor: pointer;
  padding: 0.5em 1em;
  transition: 0.3s;
  border-radius: 1.5em;
  text-transform: uppercase;
}
header .navbar .navbar--links .desktop-nav li:hover {
  background-color: rgba(255, 255, 255, 0.192);
}
header .header--text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header .header--text h1 {
  text-transform: uppercase;
  margin: 4rem;
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 45px;
  font-weight: 900;
}
header .header--text .arrow img {
  width: 100%;
  margin-bottom: 15rem;
  -webkit-animation: arrowMove 2s infinite;
          animation: arrowMove 2s infinite;
}/*# sourceMappingURL=header.css.map */